.navbar {
    padding-bottom: 12px;
    padding-top: 0.1px;
    text-align: center;
}

.navbar-brand {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 0.1px;
}

.nav-link {
    padding-bottom: 12px;
    padding-top: 0.1px;
    text-align: center;
}